<%- include('header'); -%>


		<!-- Main -->
			<section class="artM" >

					<header >
						<h2>Articles</h2>
						<p>See the work of other users, and feel free to leave constructive feedback!</p>
					</header>
					<ul>
				  <% for(var i=0; i<articles.length; i++) {%>
				    <li>
							<a href="/article/<%= articles[i]._id%>">	<span><%= articles[i].title %></span></a>
							<div class="noArt">
								<img class="" src="../<%= articles[i].imgPath%>">
							 <span><%= articles[i].hero %></span>
							</div>

				    </li>
				  <% } %>
				  </ul>
</section>

	<%- include('footer'); -%>
